.header-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-inline: 10px 29px;
  padding-block: 14px 13px;
  flex-wrap: wrap;
  .logo-container {
    .menu {
      background: none;
      border: none;
      padding: 0 6px;
      :hover{
        cursor: pointer;
      }
    }
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .logo-wrapper {
      display: inline-block;
      padding-inline-start: 32px;
      height: 47px;
      .logo {
        height: 100%;
      }
    }
  }

  .title-container {
    line-height: 1;
    margin: 0 22px 0 30px;
    flex: 1 1 auto;
    .title {
      font-size: 1rem;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
    }
  }
  .left-container {
    .sub-title {
      padding-top: 10px;
      padding-inline-end: 29px;
      font-size: 0.875rem;
      font-weight: 700;
      color: #5f7280;
    }
  }
}
.icons-container {
  display: flex;
  .lang-container {
    padding-top: 6px;
    position: relative;
  }
  button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}
#sidemenu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  inset-inline-start: -100%; /* Initially off-screen */
  transition: inset-inline-start 0.25s, background-color 0.25s;
  background-color: #00000080;
  z-index: 999999999;
  transition: inset-inline-start 0.25s, background-color 0.25s; /* Keep this line */

}

#sidemenu.open {
  display: block;
  inset-inline-start: 0;
  background-color: #00000080;
  transition: inset-inline-start 0.25s, background-color 0.25s; /* Keep this line */

}
