.header{
  position: relative;
  padding: var(--card-padding) var(--card-padding) 0;
}
.title-container{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 0;
  padding-inline-end: 0;
}
.icon{
  height: 20px;
  width: 20px;
  background-size: cover;
  cursor: pointer;
}
.text-i-icon-container{
  width: 50px;
  height: fit-content;
  z-index: 1000;

}
#c6{
  max-width: 100px;
}

