<div class="filters-dropdown-container">
  <div class="filters-dropdown-button">
    <ng-container [ngSwitch]="selectedNumberOfDays">
      <div class="time" *ngSwitchCase="30">חודש אחרון</div>
      <div class="time" *ngSwitchCase="90">3 חודשים</div>
      <div class="time" *ngSwitchCase="180">6 חודשים</div>
      <div class="time" *ngSwitchCase="360">שנה</div>
    </ng-container>

    <div
      *ngIf="isFilteringOptionOpen"
      class="filters-dropdown-items-container filters-dropdown-options-container"
    >    <h4>זמן</h4>

      <label *ngFor="let period of timePeriods" class="radio-button">
        <input
          type="radio"
          name="timePeriod"
          [(ngModel)]="selectedNumberOfDaysTemp"
          [value]="period.value"
        />
        <ng-container [ngSwitch]="period.value">
          <div style="display: inline" *ngSwitchCase="30">חודש אחרון</div>
          <div style="display: inline" *ngSwitchCase="90">3 חודשים</div>
          <div style="display: inline" *ngSwitchCase="180">6 חודשים</div>
          <div style="display: inline" *ngSwitchCase="360">שנה</div>
        </ng-container>
      </label>



      <div class="dropdown-buttons">
        <button (click)="applySelection()">אישור</button>
        <button (click)="cancelSelection()">ביטול</button>
      </div>




    </div>
    <div
      class="dropdown-arrow"
      [ngClass]="isFilteringOptionOpen ? 'up' : 'down'"
      (click)="toggleFilteringDropdown()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
      >
        <g fill="currentColor">
          <g data-name="chevron-down">
            <rect width="24" height="24" opacity="0"></rect>
            <path
              d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"
            ></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>

<div id="main"></div>
