<app-select></app-select>
<button class="three-points" _ngcontent-avh-c102="" aria-label="card action menu" aria-expanded="false" fdprocessedid="yi38s6p">
    <span _ngcontent-avh-c90="" class="size-limit"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 16 16"><g fill="currentColor"><path d="M9.5 13a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0z"></path></g></svg></span></button>
