:host {
  padding: var(--card-padding) var(--card-padding) 0;
}
.three-points {
  color: var(--text-basic-color);
  padding: 8px;
  line-height: 1;
  margin-top: 5px;
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  .title {
    display: flex;
    align-items: center;
    gap: inherit;
  }
}
h3 {
  margin: 0;
}
.filter {
  display: block;
  margin: 6px 0;
  z-index: 10;
  position: relative;
}
.container {
  display: flex;
  margin-bottom: 6px;
}
