.three-points{
  color: var(--text-basic-color);
    padding: 8px;
    line-height: 1;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}


