.section {
  display: block;
  color: var(--text-basic-color);
  margin: 0 20px;
  overflow-y: visible;
  overflow-x: clip;
  padding: 15px 0;
  border-top: 1px solid rgba(199,199,199,.4470588235);
}
.first-section {
  padding-top: 0;
}
