.container {
  display: flex;
  gap: 10px;
}

.bigger-num {
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}
.bigNumber {
  position: absolute;
  padding-right: 11px;
  top: 35px;
  right: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}
.littleNumber {
  margin-left: 5px;
  font-size: 12.8px;
  font-weight: 700;
}
.littleLine {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 400;
}
.container-little-line {
  display: flex;
  position: absolute;
  top: 65px;
  right: 10px;
}

.container-3-line-a {
  position: relative;
  top: -45px;
  right: 11px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.container-3-line-b {
  position: relative;
  right: 16px;
  top: -9px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.container-3-line-c {
  position: relative;
  top: 30px;
  right: -8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.container-3-line-d {
  position: relative;
  top: 65px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.container-3-line-e {
  position: relative;
  top: 94px;
  right: -12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.container-5-line {
  display: flex;
flex-direction: row-reverse;
justify-content: space-between;
font-size: 12.8px;
}
