.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  gap: 5px;
  left: 7px;
  .card {
    background: var(--card-background-color);
    color: var(--text-basic-color);
    min-height: 184px;
    height: 211px;
    width: 23% !important;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 3px 15px -2px #00020233;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      width: 45% !important;
      height: 184px;
    }

    .header {
      display: block;
      position: relative;
      padding: var(--card-padding) var(--card-padding) 0;
    }
    .body {
      flex: 1;
      overflow: hidden;
      position: relative;
      padding: 0 var(--card-padding) var(--card-padding);
    }
    .info-card {
      position: absolute;
      left: 0px;
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}
.container-big-lines {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: right;
  text-align: right;
  position: absolute;
  top: 36px;
  right: 10px;
}
// #c3{
//   display: flex;
//   flex-direction: column;
//   position: relative;
// }
#c5 {
  max-height: 184px;
}
#c6 {
  max-height: 184px;
}

.circle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
  margin-left: 10px;
}
.yellow {
  background: #e6b957;
  position: absolute;
  right: -5px;
  top: 105px;
}
.red-2 {
  background: #e21d48;
  margin-left: 10px;
  position: absolute;
  right: -5px;
  top: 85px;
}
.red-1 {
  background: #e21d48;
  margin-left: 10px;
  position: absolute;
  right: -5px;
  top: 66px;
}
@media screen and (min-width: 1280px) {
  .container {
    flex-wrap: nowrap;
    gap: 10px;
  }
  #c5 {
    max-height: 247px;
  }
  #c6 {
    max-height: 247px;
  }
}
.background-dark-mode {
  background: hsl(205, 26%, 30%);
  color: white;
}
.text-i-icon {
  display: none;
}
.i-icon-dark {
  height: 20px;
  width: 20px;
  background-size: cover;
  cursor: pointer;
}
@media (min-width: 760px) {
  .container {
    padding-left: 14px;
    padding-right: 19px;
  }
}

#c7 {
  max-height: 156px;
}
#c8 {
  max-height: 156px;
}
#c9 {
  max-height: 156px;
}
#c10 {
  max-height: 156px;
}
