
.table-container{
  height: 250px;
  overflow: auto;
  
}
table {
  border-spacing: 0;
  width: 100%;
}
tr{
  height: 30px;
}
  .header-table {
    background-color: #e6f1f3;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;
  }
  .table-body {
    text-align: center;
  }

