.table-container {
  height: 225px;
  overflow: auto;
}
table {
  border-spacing: 0;
  width: 100%;
}
th {
  font-weight: 400;
  padding: 15px;
  cursor: pointer;
}
tr {
  height: 50px;
  border-bottom: 1px solid #daeaee;
}
.header-table {
  background-color: var(--banner-background-color);
  height: 40px;
  width: 100%;
  position: sticky;
  top: 0;
}
.table-body {
  text-align: center;
}

.rtl-scroll::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
  height: 10px;
}

.rtl-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.rtl-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
tr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 50px;
}
.green-bg {
  background-color: #b8de92;
}

.yellow-bg {
  background-color: #fcfc70;
}

.orange-bg {
  background-color: #f2c580;
}

.red-bg {
  background-color: #fa9e8f;
}
.bar-container{
display: inline-block;
    width: 30px;
    height: 10px;
    background: #F1F5FA;
    cursor: pointer;
}
.fill-bar {
  height: 100%;
  background-color: #8CC8EA;
  &:hover{
    opacity: 0.83;
}
}

