<ng-container *ngFor="let item of tableData">
  <table *ngIf="tableData[0][0].hospitalName === 'הדסה עין כרם'">
    <thead>
      <tr>
        <th>Hospital Name</th>
        <th>General Occupancy</th>
        <th>Internal Medicine Occupancy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData[0]">
        <!-- <td>{{ item.Id }}</td> -->
        <td>{{ item.hospitalName }}</td>
        <td>{{ item.generalOccupancy }}</td>
        <td>{{ item.internalMedicineOccupancy }}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="tableData[0][0].countryName === 'ארצות הברית'">
    <thead>
      <tr>
        <th>Entering Israel</th>
        <th>Country Name</th>
        <th>Verified Citizens</th>
        <th>Verified Foreigners</th>
        <th>Verified by the Incoming</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData[0]">
        <td>{{ item.Id }}</td>
        <td>{{ item.enteringIsrael }}</td>
        <td>{{ item.countryName }}</td>
        <td>{{ item.verifiedCitizens }}</td>
        <td>{{ item.verifiedForeigners }}</td>
        <td>{{ item.verifiedByTheIncoming }}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="tableData[0][0].city === 'אור יהודה'">
    <thead>
      <tr>
        <th>Grade</th>
        <th>New Patients</th>
        <th>Positive Patients</th>
        <th>Rate of Change</th>
        <th>Active Patients</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData[0]">
        <td>{{ item.city }}</td>
        <td>{{ item.grade }}</td>
        <td>{{ item.newPatients }}</td>
        <td>{{ item.positivePatients }}</td>
        <td>{{ item.rateOfChange }}</td>
        <td>{{ item.activePatients }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
